@import '../common/custom';

.exhibition {
  height: auto;
  position: relative;
  margin-bottom: 30px;
  .page{
    height: 100%;
  }
  .home-anim-demo {
    width: 100%;
    margin-top: 72px;
    & ul li {
      float: left;
      width: 30%;
      background: @page-bg-color;
      height: 360px;
      box-shadow: 0 10px 16px fade(#000, 10);
      border-radius: 6px;
      overflow: hidden;
      margin-bottom: 60px;
      &:nth-child(3n+2) {
        margin: 0 5%;
      }
      & a {
        color: #999;
        display: block;
        height: 100%;
        & .home-anim-demo-img {
          overflow: hidden;
          height: 197px;
        }
        & h2 {
          color: #666;
          margin: 15px auto;
        }
        & .home-anim-demo-text {
          padding: 0 10%;
          & p {
            line-height: 18px;
            font-size: 12px;
          }
        }
      }
      position: relative;
      will-change: transform, box-shadow;
      // .page-pro();
      transition: transform @animate-duration @ease-out, box-shadow @animate-duration @ease-out;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 18px fade(#000, 15);
      }
    }
  }
  .home-button{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    a {
      border: 1px solid @text-color-dark;
      color: @text-color-dark;
      border-radius: 21px;
      padding: 8px 24px;
      display: inline-block;
      font-size: 14px;
      box-shadow: 0 0 0 transparent;
      background: transparent;
      transition: box-shadow @animate-duration @ease-out, color @animate-duration @ease-out, background @animate-duration @ease-out;
      &:hover {
        color: @text-color-light;
        background: @text-color-dark;
      }
    }
  }
}
