.drag-select-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.1);

  .drag-selector {
    fill: #ebeaef;
    transition: width, height 0.5 linear;
  }
}

.drag-select-hidden {
  display: none;
}
