.editor-node {
  position: absolute;

  .resizable {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px dashed #333;
    box-sizing: border-box;

    .resizers {
      .resizer {
        z-index: 1;
        width: 8px;
        height: 8px;
        border: 1px solid #333;
        position: absolute;
        background:#fff;
      }
      .top-left {
        left: -4px;
        top: -4px;
        cursor: nwse-resize;
      }
      .top-right {
        right: -4px;
        top: -4px;
        cursor: nesw-resize;
      }
      .bottom-left {
        left: -4px;
        bottom: -4px;
        cursor: nesw-resize;
      }
      .bottom-right {
        right: -4px;
        bottom: -4px;
        cursor: nwse-resize;
      }
    }
  }

  .editor-node-selector-none {
    display: none;
  }

  &-selector {
    position: absolute;
    top: 0px;
    left: 0px;
    .node-selector {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      border: 1px solid #333;
      background: #fff;
      z-index: 1;
    }
  }
}
