.nodePanel {
  width: 100%;
  height: 100%;

  // 顶部控制条高度
  $barHeight: 33px;
  $textColor: #4c4c4c;
  $activeColor: #d9dbe8;

  @mixin center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  &-btn {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;

    @include center;
    width: 100px;
    height: $barHeight;
    line-height: $barHeight;
    padding: 0 8px;
    color: $textColor;
    background: #fff;
    cursor: pointer;
    text-decoration: none;

    .one-icon {
      color: $textColor;
      vertical-align: middle;
    }

    .icon-xiangzuozhankai,
    .icon-xiangyoushouqi {
      margin-top: 2px;
      font-size: 16px;
      color: #b4b4b4;
    }

    .icon-zujian {
      margin-left: 1px;
      margin-right: 6px;
      font-size: 18px;
    }

    &:hover,
    &:active {
      color: $textColor;
      background: $activeColor;
    }

    &-title {
      margin-top: 2px;
    }

    &-enter {
      transition: transform 0.2s ease-in 0.2s;
    }

    &-leave {
      transition: transform 0.2s ease-in;
    }

    &-visible {
      transform: translateX(-128px);
    }
  }

  &-box {
    display: block;
    // width: 228px;
    // height: 100%;
    background: #fff;
    transition: transform 0.2s ease-in;
    outline: none;

    &-collapse {
      .ant-collapse {
        .ant-collapse-header {
          line-height: 30px;
          padding: 0 0 0 28px;
          display: flex;
          outline: none;

          .arrow {
            line-height: 30px;
          }
        }

        .ant-collapse-item {
          border: none;
        }

        .ant-collapse-content > .ant-collapse-content-box {
          padding: 0;
        }
      }

      .collapse-title {
        margin-left: 6px;
      }

      .components-box {
        width: 228px;
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;

        &-item {
          width: 76px;
          height: 72px;
          margin-bottom: 6px;

          &-disabled {
            cursor: no-drop;
          }

          @include center;
          flex-flow: wrap;

          &-icon {
            width: 72px;

            @include center;
            margin-bottom: 6px;

            .anticon {
              padding-top:10px;
              font-size: 40px;
              color: #52619b;
            }
          }

          &:hover,
          &:active {
            background: $activeColor;
          }
        }

        .no-drop {
          cursor: no-drop;
          &:hover,
          &:active {
            background: none;
          }
        }
      }
    }
  }
}
