@import './common.scss';

.editor-demo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: $withe;
}

.editor-operation {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0px 20px;
}

.editor-container {
  display: flex;
  justify-content: flex-start;
  height: 500px;
  background: #fff;
  border-top: 1px solid $borderColor;

  .editor-nodePanel {
    width: 228px;
    border: 1px solid $borderColor;
  }

  .editor-canvas {
    width: 920px;
    overflow: hidden;
    background: $bgColor;
    .canvas-container-content {
      width: 100%;
      height: 100%;
      cursor: -webkit-grab;
      position: relative;

      .editor-view {
        .editor-view-content {
          position: absolute;
        }

        .editor-view-svg {
          overflow: visible;
        }
      }
    }
  }
  

  .editor-property {
    width: 300px;
    border: 1px solid $borderColor;
  }
}
